.wrapper {
  height: 100vh;
  background-color: #cc4125;
  overflow: hidden;
}


.emoji {
  width: 100vw;
  font-size: 70vmin;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

}

.emoji>p {
  margin: 0;
  position: static;
  animation: 1s linear 1s infinite alternate slidein;
}

@keyframes slidein {
  0% {
    transform: rotate(0.05turn);
  }

  100% {
    transform: rotate(-0.05turn);
  }
}

@media (min-width: 500px) {
  .emoji {
    font-size: 50vmin;
  }
}

.select_wrapper {
  width: 100vw;
  height: 80vh;
  border-radius: 30px;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-y: auto;
}


.emoji_box {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 15vw;
}
@media (min-width: 500px) {
  .emoji_box {
    font-size: 10vw;
  }
}
.emoji_ceil {
  margin: 0;
}